<p-dialog header="Transmettre un justificatif" [(visible)]="displayJustifyModal" [modal]="true" [responsive]="true"
    [maximizable]="true" [breakpoints]="{ '1100px': '90vw', '1250': '70vw', '780px': '90vw'}" [style]="{width: '30vw'}"
    (onHide)="onCancelButtonClick()">
    <ng-template pTemplate="content">

        <div class="border-round border-1 p-2 pt-1 mb-4">
            <h1 class="text-base font-semibold">{{ selectedAbsence?.resource_name }}</h1>
            <span class=" text-sm text-900">
                Le {{ selectedAbsence?.course_date | date:'E d MMM yyyy' }} de {{
                convertirEtFormaterHeure(selectedAbsence!.course_start_time) }} à {{
                convertirEtFormaterHeure(selectedAbsence!.course_end_time) }}
            </span>
            <br />
            <span class="text-500 text-sm">
                {{ calculateTimeDifference(selectedAbsence!.course_start_time, selectedAbsence!.course_end_time) }}
                de cours manquées
            </span>
        </div>

        <div class="p-fluid">
            <div class="p-field mb-4">
                <label for="reason" class="font-medium text-900">Motif</label>
                <input class="mt-1" type="text" id="reason" [(ngModel)]="justificationReason" pInputText />
            </div>
            <div class="p-field">
                <label for="justifyFile" class="font-medium text-900">Fichier justificatif</label>
                <div class="mt-1">
                </div>
                <p-fileUpload class="mt-1 w-full" id="justifyFile" mode="basic" chooseLabel="Sélectionner un fichier"
                    name="justifyFile[]" url="" accept="image/*" [maxFileSize]="1000000"
                    (onUpload)="onFileUpload($event)"></p-fileUpload>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <p-button type="button" label="Annuler" [outlined]="true" severity="secondary" class="p-button-secondary"
            (click)="onCancelButtonClick()"></p-button>
        <p-button type="button" label="Envoyer" class="p-button-primary" (click)="submitJustification()"></p-button>
    </ng-template>
</p-dialog>

<p-toast></p-toast>