<!-- create-material.component.html -->
<p-dialog
  header="Créer un équipement"
  [(visible)]="display"
  [modal]="true"
  [responsive]="true"
>
  <ng-template pTemplate="content">
    <div class="p-fluid">
      <div class="p-field">
        <label for="equipmentName">Nom de l'équipement</label>
        <input
          type="text"
          id="equipmentName"
          pInputText
          [(ngModel)]="newEquipmentName"
        />
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      pButton
      type="button"
      label="Annuler"
      (click)="hideDialog()"
      class="p-button-secondary"
    ></button>
    <button
      pButton
      type="button"
      label="Créer"
      (click)="createEquipment()"
      class="p-button-primary"
    ></button>
  </ng-template>
</p-dialog>
<p-toast></p-toast>
