<h2 class="p-text-center">Statistiques globales :</h2>

<div class="p-flex">
    <p-card class="card-item" header="Total des heures">
        <p class="m-0">{{ totalHours }}</p>
    </p-card>

    <p-divider layout="vertical"></p-divider>

    <p-card class="card-item" header="Heures effectuées">
        <p class="m-0">{{ hoursPassed }}</p>
    </p-card>

    <p-divider layout="vertical"></p-divider>

    <p-card class="card-item" header="Heures restantes">
        <p class="m-0">{{ hoursLeft }}</p>
    </p-card>
</div>

<p-divider></p-divider>

<h2 class="p-text-center">Statistiques avancées :</h2>

<div class="card">
    <p-tabMenu [model]="items" [activeItem]="activeItem"></p-tabMenu>
</div>
