<div class="app-layout">
  <div class="calendar-section">
    <div class="dropdown-section">
      <p-dropdown
        [options]="promotions"
        [(ngModel)]="selectedPromotionId"
        (onChange)="onPromotionChange()"
        optionLabel="uniqueLabel"
        optionValue="id"
        placeholder="Sélectionnez une promotion"
      >
      </p-dropdown>
    </div>
    <full-calendar [options]="calendarOptions"></full-calendar>
  </div>

  <div class="menu-section">
    <app-create-course
      (eventCreated)="addEvent($event)"
      [degrees]="degrees"
      [promotions]="promotions"
    ></app-create-course>
  </div>
</div>
