<div *ngIf="availableEquipments.length > 0">
  <h3>Sélectionnez l'équipement à ajouter</h3>
  <ul>
    <li *ngFor="let equipment of availableEquipments">
      <input type="radio" name="equipment" (click)="selectedEquipment = equipment">{{ equipment.equipment }}
    </li>
  </ul>
  <div>
    <label for="quantity">Quantité :</label>
    <input id="quantity" type="number" [(ngModel)]="selectedQuantity" min="1">
  </div>
  <button (click)="chooseEquipment()">Ajouter à la salle de classe</button>
</div>
