body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    flex: 1;
    justify-content: space-between;
}

.dashboard-home {
    display: flex;
}

.dashboard {
    display: flex;
    flex-direction: column;
    flex: 1; 
    width: 100%;
    height: 100%;
}

.dashboard-values:nth-child(1) {
    display: flex;
    flex-wrap: wrap; 
}

.dashboard-values:nth-child(2) {
    display: flex;
    flex-direction: row;
}

.card-item, .dashboard-values p-panel {
    flex: 1; 
    margin: 8px;
}


p-panel:nth-child(2) {
    width: 30%;
}

.dashboard-values {
    flex: 1; 
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.card-item, p-panel {
    flex: 1; 
    background-color: #ecf0f1;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
    padding: 10px;
}

p-header {
    font-weight: bold;
}

.pi-user-minus {
    padding: 5px;
    background: #fdd0d0;
    border-radius: 5px;
}

.pi-bell {
    padding: 5px;
    background: #d0d0ff;
    border-radius: 5px;
}

.red-500 {
    color: #ff0000; 
}

.red-absence:hover {
    background: #fdd0d0;
    border-radius: 5px;
}

.blue-500 {
    color: #0000ff; 
}

.blue-reminder:hover {
    background: #d0d0ff;
    border-radius: 5px;
  }

.resource-name {
    font-weight: bold;
}

/*-----*/


::ng-deep mwl-calendar-event-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    color: black; /* Texte en noir */
    padding: 4px; /* Espacement autour du contenu */
    width: 100%;
  }
  
  .custom-event-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
  }
  
  .custom-event-title__resource {
    font-weight: bold;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .custom-event-title__teachers,
  .custom-event-title__classroom,
  .custom-event-title__groupname {
    font-size: 14px;
  }
  
  .custom-event-title__classroom {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .custom-event-title__teachers {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  
  .custom-event-title__groupname {
    position: absolute;
    bottom: 0;
    right: 0;
  }
