<div class="app-layout">
  <div class="calendar-section">
    <div class="dropdown-section">
      <p-dropdown
        [options]="promotions"
        [(ngModel)]="selectedPromotionId"
        (onChange)="onPromotionChange()"
        optionLabel="uniqueLabel"
        optionValue="id"
        placeholder="Sélectionnez une promotion"
      >
      </p-dropdown>
    </div>
    <mwl-calendar-week-view
      [viewDate]="viewDate"
      [excludeDays]="excludeDays"
      [events]="events"
      [dayStartHour]="dayStartHour"
      [dayEndHour]="dayEndHour"
      [hourSegments]="hourSegments"
      [weekStartsOn]="1"
    >
    </mwl-calendar-week-view>
  </div>

  <div class="menu-section">
    <p-card header="Créer  un cours">
      <form (submit)="addCourse(name, date, startTime, endTime)">
        <input
          type="text"
          [(ngModel)]="name"
          name="name"
          placeholder="Nom du cours"
        />
        <input type="date" [(ngModel)]="date" name="date" />
        <input type="time" [(ngModel)]="startTime" name="startTime" />
        <input type="time" [(ngModel)]="endTime" name="endTime" />
        <button type="submit">Créer le cours</button>
      </form>
    </p-card>
  </div>
</div>
