<div class="app-layout">
  <div class="calendar-section">
    <div class="dropdown-section">
      <div class="flex gap-3">
        <p-dropdown
          [options]="degrees"
          (onChange)="onDegreeChange($event.value)"
          optionLabel="name"
          optionValue="id"
          placeholder="Sélectionnez une formation"
          name="degreeDropdown"
        ></p-dropdown>

        <p-dropdown
          *ngIf="filteredPromotions && filteredPromotions.length > 0"
          [options]="filteredPromotions"
          [(ngModel)]="selectedPromotionId"
          (onChange)="onPromotionChange()"
          optionLabel="uniqueLabel"
          optionValue="id"
          placeholder="Sélectionnez une promotion"
          name="promotionDropdown"
        ></p-dropdown>

        <p-dropdown
          *ngIf="selectedPromotionId"
          [options]="semesterOptions"
          [(ngModel)]="selectedSemester"
          placeholder="Sélectionnez un semestre"
          (onChange)="onSemesterChange()"
          name="semesterDropdown"
        ></p-dropdown>

        <p-dropdown
          *ngIf="trainings && trainings.length > 0"
          [options]="trainings"
          [(ngModel)]="selectedTrainingId"
          (onChange)="onTrainingChange()"
          optionLabel="name"
          optionValue="id"
          placeholder="Sélectionnez un parcours"
          name="trainingDropdown"
        ></p-dropdown>

        <p-dropdown
          *ngIf="tds && tds.length > 0"
          id="tdDropdown"
          [options]="tds"
          optionLabel="name"
          optionValue="id"
          [(ngModel)]="selectedTdId"
          placeholder="Sélectionnez un TD"
          (onChange)="onTdChange()"
        ></p-dropdown>

        <p-dropdown
          *ngIf="tps && tps.length > 0"
          id="tdDropdown"
          [options]="tps"
          optionLabel="name"
          optionValue="id"
          [(ngModel)]="selectedTpId"
          placeholder="Sélectionnez un TP"
          (onChange)="onTpChange()"
        ></p-dropdown>
      </div>
    </div>

    <div class="flex justify-content-between align-items-center mt-2 mb-2">
      <div>
        <span>{{ getWeekPeriod() }}</span>
      </div>
      <div>
        <p-button
          [rounded]="true"
          [text]="true"
          (click)="previousWeek()"
          icon="pi pi-chevron-left"
        ></p-button>
        <p-button
          [rounded]="true"
          [text]="true"
          (click)="nextWeek()"
          icon="pi pi-chevron-right"
        ></p-button>
      </div>
    </div>

    <mwl-calendar-week-view
      [viewDate]="viewDate"
      [excludeDays]="excludeDays"
      [events]="events"
      [dayStartHour]="dayStartHour"
      [dayEndHour]="dayEndHour"
      [hourSegments]="hourSegments"
      [weekStartsOn]="1"
      [eventTitleTemplate]="customEventTitleTemplate"
      (eventClicked)="handleEventClick($event.event)"
    >
    </mwl-calendar-week-view>
  </div>

  <div class="menu-section">
    <app-create-course
      (eventCreated)="addEvent($event)"
      [degrees]="degrees"
      [promotions]="promotions"
      [selectedPromotionId]="selectedPromotionId"
      [selectedTrainingId]="selectedTrainingId"
      [selectedTdId]="selectedTdId"
      [selectedTpId]="selectedTpId"
      [resources]="resources"
      [tds]="tds"
    ></app-create-course>
  </div>
</div>

<ng-template
  class="custom-event-title"
  #customEventTitleTemplate
  let-event="event"
>
  <div class="event-top">
    <span class="custom-event-title__classroom">{{
      event.meta.classroomName
    }}</span>
  </div>
  <div class="event-middle">
    <span class="custom-event-title__resource">{{
      event.meta.resourceName
    }}</span>
  </div>
  <div class="event-bottom">
    <span class="custom-event-title__teachers">{{
      event.meta.teacherNames
    }}</span>
    <span class="custom-event-title__groupname">{{
      event.meta.groupName
    }}</span>
  </div>
</ng-template>

<app-course-details-modal
  *ngIf="selectedCourse"
  [selectedCourse]="selectedCourse"
  (courseUpdated)="handleCourseUpdated($event)"
  (close)="resetModal()"
  (courseDeleted)="removeEvent($event)"
></app-course-details-modal>
