.content {
    height: 88dvh;
    overflow: auto;
    overflow-y: hidden;
  }
  
  .content:hover {
    overflow-y: auto;
  }
  
  .badge {
    color: #3b82f6;
  }
  

.menuStudentGroup {
  ul {
    list-style-type: none;
    padding: 0;
    
    li {
      width: 200px;
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 10px;
      padding-top: .45rem;
      padding-bottom: .45rem;
      padding-left: .5rem;
      padding-right: .5rem;
      border-radius: 5px;
      cursor: pointer;
      &:hover {
        background-color: #e5e7eb;
      }

      &.active {
        background-color: #e5e7eb;
      }
    }
  }
}

:host ::ng-deep .p-tabview-title {
  font-size: 14px;
  font-weight: 500;
  color: #495057;
}