.color-picker {
  display: flex;
  align-items: center;
}

.color-input {
  margin-right: 10px;
  border: none;
  height: 36px;
  width: 36px;
  padding: 0;
  cursor: pointer;
}

.color-preview {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
