<div class="container-large">
    <div class="flex gap-5">
        <div class="w-30rem">
            <p-tree [value]="files" class="w-full md:w-20rem" [filter]="true" filterMode="strict"
                filterPlaceholder="Rechercher" selectionMode="single" [(selection)]="selectedFile"
                (onNodeSelect)="nodeSelect($event)" (onNodeUnselect)="nodeUnselect($event)">

                <ng-template let-node pTemplate="url">
                    <a [href]="node.data" target="_blank" rel="noopener noreferrer"
                        class="text-700 hover:text-primary">{{
                        node.label }}</a>
                </ng-template>
                <ng-template let-node pTemplate="default">
                    <b>{{ node.label }}</b>
                </ng-template>

            </p-tree>
        </div>

        <div class="w-full">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<p-toast></p-toast>