<div class="m-3">
    <p-dropdown [(ngModel)]="selectedPromotion" 
                [options]="promotions" 
                (onChange)="updateHours()"
                optionLabel="name" 
                optionValue="id"
                placeholder="Sélectionnez une promotion">
    </p-dropdown>
</div>

<div class="p-flex">
    <p-card class="card-item" header="Total des heures">
        <p class="m-0">{{ totalHours }}</p>
    </p-card>

    <p-divider layout="vertical"></p-divider>

    <p-card class="card-item" header="Heures effectuées">
        <p class="m-0">{{ hoursPassed }}</p>
    </p-card>

    <p-divider layout="vertical"></p-divider>

    <p-card class="card-item" header="Heures restantes">
        <p class="m-0">{{ hoursLeft }}</p>
    </p-card>
</div>
