<div class="absences-layout">
  <h1>Absences</h1>

  <div *ngIf="absences | async as absencesData">
    <h2>Total d'heures d'absences : {{ calculateTotalHours(absencesData) }}</h2>
    <h2>
      Total d'heures d'absences non justifiées :
      {{ calculateTotalUnjustifiedHours(absencesData) }}
    </h2>
  </div>

  <div *ngIf="justifiedAbsences.length > 0">
    <h2>Absences justifiées</h2>
    <app-single-absence
      *ngFor="let absence of justifiedAbsences"
      [absence]="absence"
    ></app-single-absence>
  </div>

  <div *ngIf="unjustifiedAbsences.length > 0">
    <h2>Absences non justifiées</h2>
    <app-single-absence
      *ngFor="let absence of unjustifiedAbsences"
      [absence]="absence"
    ></app-single-absence>
  </div>
</div>
