<div class="bg-white h-screen border-e border-gray-200" style="width: 24rem">

    <!-- Header de la sidebar -->
    <div class="sidebar-title" style="padding: 32px">
        <h1 class="text-2xl font-bold">Paramètres</h1>
    </div>

    <!-- Element sidebar -->
    <div routerLink="/settings/account" routerLinkActive="active-nav-link" [routerLinkActiveOptions]="{ exact: true }"
        class="prevent-select flex gap-3 cursor-pointer hover:bg-gray-100"
        style="padding: 32px; border-bottom: 1px solid rgb(229 231 235); border-top: 1px solid rgb(229 231 235);">
        <div class="text-gray-400" routerLinkActive="active-nav-link">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
            </svg>
        </div>
        <div>
            <h1 class="text-sm mb-1.5 font-medium">Compte</h1>
            <p class="text-sm text-slate-700">Consultez et modifiez vos informations personnelles</p>
        </div>
    </div>
    <!-- Fin Element sidebar -->

    <!-- Element sidebar -->
    <div routerLink="/settings/security" routerLinkActive="active-nav-link" [routerLinkActiveOptions]="{ exact: true }"
        class="prevent-select flex gap-3 cursor-pointer hover:bg-gray-100"
        style="padding: 32px; border-bottom: 1px solid rgb(229 231 235);">
        <div class="text-gray-400" routerLinkActive="active-nav-link">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M16.5 10.5V6.75a4.5 4.5 0 10-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H6.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z" />
            </svg>
        </div>
        <div>
            <h1 class="text-sm mb-1.5 font-medium">Sécurité</h1>
            <p class="text-sm text-slate-700">Modifiez votre mot de passe et gérez l'authentification à deux facteurs
            </p>
        </div>
    </div>
    <!-- Fin Element sidebar -->

    <!-- Element sidebar -->
    <div routerLink="/settings/notifications" routerLinkActive="active-nav-link"
        [routerLinkActiveOptions]="{ exact: true }" class="prevent-select flex gap-3 cursor-pointer hover:bg-gray-100"
        style="padding: 32px; border-bottom: 1px solid rgb(229 231 235);">
        <div class="text-gray-400" routerLinkActive="active-nav-link">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />
            </svg>
        </div>
        <div>
            <h1 class="text-sm mb-1.5 font-medium">Notifications</h1>
            <p class="text-sm text-slate-700">Gérez quand vous voulez recevoir une notification et sur quels canaux</p>
        </div>
    </div>
    <!-- Fin Element sidebar -->

</div>