<div class="container">
  <app-create-training
    *ngIf="displayCreateTrainingDialog"
    [promotions]="promotions"
    (trainingCreated)="onTrainingCreated($event)"
  ></app-create-training>

  <div
    class="flex align-item-center border-round p-4 relative"
    style="background-color: rgb(239, 244, 255)"
  >
    <div>
      <h1 class="text-2xl font-semibold">Gestion des parcours</h1>
      <p class="text-900 -mt-2">Créer, modifier ou supprimer des parcours.</p>
    </div>
    <div
      class="absolute hidden sm:hidden md:block"
      style="top: -10px; right: 50px"
    >
      <img src="/assets/images/3dicons/rocket.png" alt="cube" width="180px" />
    </div>
  </div>

  <!-- Search and Add Section -->
  <div class="shadow-1 border-round mt-7 p-4 pt-2">
    <h1 class="text-lg font-medium">Parcours</h1>

    <div class="flex justify-content-between mt-5 mb-4">
      <div>
        <span class="p-input-icon-left">
          <i class="pi pi-search mb-3"></i>
          <input
            type="text"
            pInputText
            [(ngModel)]="searchQuery"
            (input)="onSearch()"
            placeholder="Rechercher un parcours"
          />
        </span>
      </div>

      <p-button
        icon="pi pi-plus"
        label="Créer un parcours"
        class="custom-button"
        (click)="showCreateTrainingDialog()"
      ></p-button>
    </div>

    <!-- Training Table with PrimeNG -->
    <p-table
      *ngIf="!isLoading; else tableSkeleton"
      [value]="filteredTrainings"
      [paginator]="true"
      [rows]="10"
      [responsiveLayout]="scroll"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Affichage des entrées {first} à {last} sur {totalRecords} parcours"
      [rowsPerPageOptions]="[5, 10, 20, 50]"
      >>
      <ng-template pTemplate="header">
        <tr>
          <th>ID du parcours</th>
          <th>Nom du parcours</th>
          <th>Année de la promotion</th>

          <th>
            <p-dropdown
              class="ml-2"
              [options]="degrees"
              (onChange)="onDegreeFilter($event)"
              [placeholder]="'Toutes'"
              optionLabel="name"
              optionValue="id"
              appendTo="body"
              [showClear]="true"
            >
            </p-dropdown>
          </th>
          <th>Semestre</th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-training>
        <tr>
          <td>#{{ training.id }}</td>
          <td *ngIf="!training.isEditing">
            <ng-container *ngIf="!training.isLoading; else singleSkeleton">
              {{ training.name }}
            </ng-container>
          </td>
          <td *ngIf="training.isEditing">
            <input pInputText type="text" [(ngModel)]="training.updatedName" />
          </td>
          <td *ngIf="!training.isEditing">{{ training.promotion_year }}</td>
          <td *ngIf="!training.isEditing">{{ training.degree_name }}</td>
          <td *ngIf="training.isEditing" colspan="2">
            <p-dropdown
              [options]="promotions"
              [(ngModel)]="training.updatedPromotionId"
              optionLabel="uniqueLabel"
              optionValue="id"
              placeholder="Sélectionner une promotion"
              appendTo="body"
            >
            </p-dropdown>
          </td>

          <td *ngIf="!training.isEditing">
            <ng-container *ngIf="!training.isLoading; else singleSkeleton">
              {{ training.semester ? training.semester : "N/A" }}
            </ng-container>
          </td>
          <td *ngIf="training.isEditing">
            <input
              pInputText
              type="number"
              [(ngModel)]="training.updatedSemester"
            />
          </td>
          <td class="flex justify-content-evenly">
            <div
              *ngIf="!training.isEditing"
              class="flex align-items-center justify-content-center"
            >
              <button
                pButton
                pRipple
                pTooltip="Modifier"
                tooltipPosition="top"
                type="button"
                icon="pi pi-pencil"
                class="p-button-rounded p-button-text"
                (click)="startEditing(training)"
              ></button>
              <button
                pButton
                pRipple
                pTooltip="Supprimer"
                tooltipPosition="top"
                icon="pi pi-trash"
                class="p-button-rounded p-button-text p-button-danger"
                (click)="confirmDelete(training)"
              ></button>
            </div>
            <div
              *ngIf="training.isEditing"
              class="flex align-items-center justify-content-center"
            >
              <button
                pButton
                type="button"
                label="Sauvegarder"
                (click)="stopEditing(training)"
                class="p-button-success"
              ></button>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="5">Aucun parcours.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<!-- Confirmation Dialog and Toast Messages -->
<p-confirmDialog
  header="Supprimer"
  icon="pi pi-exclamation-triangle"
></p-confirmDialog>
<p-toast></p-toast>

<ng-template #singleSkeleton>
  <p-skeleton width="30%" height="22px"></p-skeleton>
</ng-template>

<ng-template #tableSkeleton>
  <p-skeleton width="100%" height="600px"></p-skeleton>
</ng-template>
