<p-toast></p-toast>
<p-table
    #dt2
    [value]="users"
    dataKey="id"
    [rows]="7"
    [paginator]="true"
>
<ng-template pTemplate="header">
    <tr>
        <th >ID</th>
        <th >Identifiant</th>
        <th >Prénom</th>
        <th >Nom</th>
        <th >Email</th>
        <th >Rôle</th>
        <th >Admin</th>
        <th >Responsable EDT</th>
        <th >Modifier</th>
        <th >Supprimer</th>
    </tr>
    <tr>
        <th></th>
        <th>
            <p-columnFilter type="text" field="username"></p-columnFilter>
        </th>
        <th>
            <p-columnFilter type="text" field="first_name"></p-columnFilter>
        </th>
        <th>
            <p-columnFilter type="text" field="last_name"></p-columnFilter>
        </th>
        <th>
            <p-columnFilter type="text" field="email"></p-columnFilter>
        </th>
        <th>
            <p-columnFilter type="text" field="role.name"></p-columnFilter>
        </th>
        <th>
            <p-columnFilter type="boolean" field="isAdmin"></p-columnFilter>
        </th>
        <th>
            <p-columnFilter type="boolean" field="isTTManager"></p-columnFilter>
        </th>
        <th></th>
        <th></th>
    </tr>
</ng-template>

<ng-template pTemplate="body" let-user>
    <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.first_name.length > 15 ?  (user.first_name.slice(0, 15)| titlecase) + '...' : user.first_name| titlecase}}</td>
        <td>{{ user.last_name.length > 15 ?  (user.last_name.slice(0, 15)| titlecase) + '...' : user.last_name| titlecase}}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.role.name }}</td>
        <td>
            <i class="pi"
            [ngClass]="{ 'pi-check-circle': user.isAdmin, 'pi-times-circle': !user.isAdmin }"
            [ngStyle]="{ 'color': user.isAdmin ? 'green' : 'red' }">
            </i>
        </td>
        <td>
            <i class="pi"
            [ngClass]="{ 'pi-check-circle': user.isTTManager, 'pi-times-circle': !user.isTTManager }"
            [ngStyle]="{ 'color': user.isTTManager ? 'green' : 'red' }">
            </i>
        </td>
        <td *ngIf="user.role.name != 'étudiant' && user.role.name != 'enseignant'"><p-button icon="pi pi-user-edit" [rounded]="true" [text]="true" severity="info" (click)="openModalUpdate(user)" ></p-button></td>
        <td *ngIf="user.role.name == 'étudiant' || user.role.name == 'enseignant'"><p-button icon="pi pi-user-edit" [rounded]="true" [text]="true" severity="info" [disabled]="true"></p-button></td>
        
        <td *ngIf="IdToken !== user.id"><p-button icon="pi pi-trash" [rounded]="true" [text]="true" severity="danger " (click)="openModalDelete(user)"></p-button></td>
        <td *ngIf="IdToken == user.id"><p-button icon="pi pi-trash" [rounded]="true" [text]="true" severity="danger "[disabled]="true"></p-button></td>
    </tr>
   

</ng-template>


<ng-template pTemplate="emptymessage">
    <tr>
        <td colspan="9">Aucun utilisateur trouvé.</td>
    </tr>
    
</ng-template>

</p-table>

<p-button routerLink="add_user" label="Ajouter un utilisateur" [rounded]="true" ></p-button>
<p-button label="Gestion des rôles" [rounded]="true" (click)="openModalRole()"></p-button>

<!--MODAL MODIFIER UN UTILISATEUR-->
<div *ngIf="userModal" >
    <p-dialog header="Modifier cet utilisateur" [(visible)]="displayModalUpdate" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
        <form  [formGroup]="userUpdateForm" (ngSubmit)="onSubmit()">
            <div >
                <div class="card p-fluid">
                    <div class="field">
                        <label htmlfor="username">Identifiant</label>
                        <input pinputtext="" id="username" type="text" class="p-inputtext p-component p-element" formControlName="username" >
                    </div>

                    <div class="p-formgrid grid">
                        <div class="field col">
                            <label htmlfor="nom">Nom</label>
                            <input pinputtext="" id="nom" type="text" class="p-inputtext p-component p-element" formControlName="last_name">
                        </div>
                        <div class="field col">
                            <label htmlfor="prenom">Prénom</label>
                            <input pinputtext="" id="prenom" type="text" class="p-inputtext p-component p-element" formControlName="first_name">
                        </div>
                    </div>
                    <div class="field">
                        <label htmlfor="email">Email</label>
                        <input pinputtext="" id="email" type="text" class="p-inputtext p-component p-element" formControlName="email">
                    </div>
                    <div class="field"><label htmlfor="role">Role</label>
                        <p-autoComplete  [dropdown]="true" id="role" [suggestions]="filteredRoles" (completeMethod)="filterRoles($event)" field="name" formControlName="role"></p-autoComplete>
                    </div>  
                    <div class="flex align-items-center gap-3"  >
                        <p-checkbox *ngIf="userUpdateForm && userUpdateForm.get('admin')" 
                        name="group1" 
                        [binary]="true"
                        value="true"
                        inputId="admin" 
                        formControlName="admin" 
                        (onChange)="onAdminCheckboxChange($event)">
                        </p-checkbox>
                        <label for="admin">Attribuer les droits administrateurs</label>
                    </div>
                    <div class="field">
                    </div>
                    <div class="flex align-items-center gap-3"  >
                        <p-checkbox *ngIf="userUpdateForm && userUpdateForm.get('ttmanager')" 
                        name="group1" 
                        [binary]="true"
                        value="true"
                        inputId="ttmanager" 
                        formControlName="ttmanager" 
                        (onChange)="onTTManagerCheckboxChange($event)">
                        </p-checkbox>
                        <label for="ttmanager">Attribuer les droits d'un responsable de l'emploi du temps</label>
                    </div>
                    <div class="field">
                    </div>
                </div>
                <button type="submit" pButton pRipple label="Modifier cet utilisateur" class="w-full p-3"></button>

                <div class="card p-fluid">
                    <div *ngIf="ErrorMessage" class="login-status mb-5 w-full">
                        <p class="text-sm text-red-500 font-semibold">{{ ErrorMessage }}</p>
                    </div>
        
                </div>
        
            </div>
        </form>
    </p-dialog>
</div>






<!--MODAL SUPPRIMER UN UTILISATEUR-->
<p-dialog header="Supprimer un utilisateur" [(visible)]="displayModalDelete" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false" [contentStyle]="{ 'text-align': 'center' }">
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100%;">
      <p>Supprimer l'utilisateur <span [style.fontWeight]="'bold'">{{ username }}</span></p>
      <div style="margin-top: 2%">
        <p-button label="Annuler" [rounded]="true" severity="secondary" icon="pi pi-times" [style]="{ 'margin-right.px': 10 } " (click)="closeModalDelete()"></p-button>
        <p-button label="Supprimer" [rounded]="true" severity="danger" icon="pi pi-trash" (click)="deleteUser()"></p-button>
        <p class="text-sm text-red-500 font-semibold">{{ ErrorMessage }}</p>
      </div>
    </div>
</p-dialog>
  

<!--MODAL ROLE-->
<p-dialog header="Gestion des rôles" [(visible)]="displayModalRole" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
    <app-role></app-role>
</p-dialog>



