<!-- settings-layout.component.html -->
<div class="container">
  <div
    class="flex align-items-center border-round p-4 relative mb-6"
    style="background-color: rgb(242, 242, 242)"
  >
    <div>
      <h1 class="text-2xl font-semibold">Paramètres</h1>
      <p class="text-900 font-medium">Gérer votre compte utilisateur</p>
    </div>
    <div
      class="absolute hidden sm:hidden md:block"
      style="top: -14px; right: 50px"
    >
      <img src="/assets/images/3dicons/setting.png" alt="cube" width="180px" />
    </div>
  </div>

  <p-tabView>
    <p-tabPanel>
      <ng-template pTemplate="header">
        <i class="pi pi-user mr-2"></i> Compte
      </ng-template>
    </p-tabPanel>
    <p-tabPanel>
      <ng-template pTemplate="header">
        <i class="pi pi-bell mr-2"></i> Notifications
      </ng-template>

      <h1 class="font-semibold text-xl mb-3">Notifications</h1>

      <form [formGroup]="settingsForm" (ngSubmit)="updateSettings()">
        <div>
          <div>
            <div class="flex align-items-center justify-content-between">
              <div>
                <h3 for="notificationMail" class="text-lg font-medium">
                  Notifications site web
                </h3>
                <p class="text-sm text-gray-500 -mt-2">
                  Recevez des notifications sur l'ENT pour vos absences, des
                  cours annulés, etc.
                </p>
              </div>

              <div>
                <p-inputSwitch
                  formControlName="notificationWebsite"
                  (onChange)="updateSettings()"
                ></p-inputSwitch>
              </div>
            </div>
          </div>

          <div class="flex align-items-center justify-content-between">
            <div>
              <h3 for="notificationMail" class="text-lg font-medium">
                Notifications par e-mail
              </h3>
              <p class="text-sm text-gray-500 -mt-2">
                Recevez des notifications par e-mail pour vos absences, des
                cours annulés, etc.
              </p>
            </div>

            <div>
              <p-inputSwitch
                formControlName="notificationMail"
                (onChange)="updateSettings()"
              ></p-inputSwitch>
            </div>
          </div>
        </div>
      </form>
    </p-tabPanel>
  </p-tabView>
</div>

<p-toast></p-toast>
