.course-details {
  padding: 1em;
  font-family: Arial, sans-serif;
}

.course-details .p-grid {
  margin: 0;
  padding-bottom: 1em;
  border-bottom: 1px solid #ddd;
}

.course-details .info-item {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
}

.course-details .info-icon {
  margin-right: 0.5em;
  color: #007ad9;
}

.course-details .info-label {
  font-weight: bold;
  margin-right: 0.5em;
}

.course-details .info-value {
  flex-grow: 1;
}

.course-details .color-box {
  width: 20px;
  height: 20px;
  display: inline-block;
  border: 1px solid #ccc;
  margin-right: 0.5em;
}

.course-details .info-value-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.course-details .info-value-list li {
  padding: 0.2em 0;
}

.p-footer {
  display: flex;
  justify-content: flex-end;
  padding: 0.5em;
}

.p-footer .p-button:not(:last-child) {
  margin-right: 0.5em;
}

.p-footer .p-button-danger {
  background: var(--red-500);
  border-color: var(--red-600);
}

.p-footer .p-button-danger:hover {
  background: var(--red-600);
}

.p-tabView .p-tabPanel {
  padding: 1em;
}

.edit-course-form {
  padding: 1em;
  background-color: #f5f5f5;
  border-radius: 5px;
}

.form-group {
  margin-bottom: 1em;
}

.form-group label {
  display: block;
  margin-bottom: 0.5em;
  font-weight: bold;
}

.input-field,
p-multiSelect,
p-dropdown {
  width: 100%;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-actions {
  text-align: right;
  margin-top: 1em;
}

.save-button {
  padding: 0.5em 1em;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.save-button:hover {
  background-color: #0056b3;
}

.edit-course-form {
  padding: 1em;
  background-color: #f5f5f5;
  border-radius: 5px;
}

.form-group {
  margin-bottom: 1em;
}

.form-group label {
  display: block;
  margin-bottom: 0.5em;
  font-weight: bold;
}

.input-field,
p-multiSelect,
p-dropdown {
  width: 100%;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-actions {
  text-align: right;
  margin-top: 1em;
}

.save-button,
.cancel-button {
  padding: 0.5em 1em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.save-button {
  background-color: #007bff;
  color: white;
}

.save-button:hover {
  background-color: #0056b3;
}

.cancel-button {
  background-color: #6c757d;
  color: white;
  margin-left: 0.5em;
}

.cancel-button:hover {
  background-color: #5a6268;
}

.skeleton-loading .loading-text {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}
